body {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    background-color: #06060f;
}

#textbox {
    display: flex;
    flex-direction: horizontal;
    width: 975px;
    height: 200px;
    padding: 5px 20px 20px 10px;
    position: fixed;
    top:calc(62%);
    left:calc(50%-500px);
    border-width: thick;
    border-color: black;
    text-align: right;
    background: white;
    border-radius: 20px;
}

#violet-container {
    display: block;
    width: 250px;
    height: 185px;
    margin-top:10px;
    background-image: url('../assets/high_res/background.png');
    background-size: 250px;
    border: black;
}

#text-container {
    display: block;
    height: 200px;
    flex: 1;
    padding-left: 100px;
    margin-top: 20px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

/* I hate CSS */